main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .todo-toolbar {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  .sidenav-container {
    flex-grow: 1;

    .sidenav-section {
      height: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  main .content {

    .todo-card {
      width: 50%;
    }
  }

}

@media screen and (min-width: 900px) {
  main .content {

    .todo-card {
      width: 33.33%;
    }
  }

}
