<div class="todo-list">
  <h4 class="todo-list-title">Todos</h4>
  @if (todos.isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (todos.hasValue() && todos.value()?.length) {
    <mat-nav-list class="todo-nav-list">
      @for (todo of todos.value(); track todo._id) {
      <mat-list-item [activated]="selectedTodoId() === todo._id" (click)="selectTodo(todo)">
        <div matListItemTitle >{{ todo.title }}</div>
        @if (selectedTodoId() === todo._id) {
          <button mat-icon-button (click)="deleteTodo(todo)" matListItemMeta>
            <mat-icon>delete</mat-icon>
          </button>
        }
      </mat-list-item>
      }
    </mat-nav-list>
    }
    <div class="actions">
      <button mat-flat-button class="add-todo-btn" (click)="addTodo()">
        <mat-icon>add</mat-icon>
        ADD TODO
      </button>
    </div>
</div>
