.todo-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .todo-list-title {
    margin: 1em;
  }

  .todo-nav-list {
    flex: 0 1 auto;
    overflow-y: auto;
  }

  .actions {
    margin: 1em;
    .add-todo-btn {
      width: 100%;
    }
  }
}
