.todo-card {
  height: calc(100% - 2em);
  margin: 1em;
  padding: 0;

  .todo-content {
    padding: 1em 0;

    .add-todo-item-btn {
      margin: 1em;
    }

    .new-todo-item {
      background-color: var(--mat-sys-surface-container-high);
      display: flex;
      padding: 0 1em;

      .add-item-icon {
        padding: 8px;
      }

      .new-item-form-container {
        flex-grow: 1
      }
    }

    .todo-item-form {

      .item-name-input,
      .item-details-ta {
        width: 100%;
        border: none;
        background: none;
        margin: 10px 0;
        outline: none;
        font: inherit;
        text-align: start;
        color: currentcolor;
      }

      .item-details-ta {
        resize: none;
        height: 60px;
        flex-grow: 1;
      }

    }

    .todo-item {
      padding: 0 1em;
      display: flex;
      align-items: center;

      .todo-item-name {
        flex-grow: 1;
      }

      &.selected {
        background-color: var(--mat-sys-surface-container-high);
      }
    }
  }
}
