// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$azure-palette
      ),
      typography: Roboto,
      density: 0
    )
  );

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-surface-bright),
    container-text-color: var(--mat-sys-on-surface),
  ));

  @include mat.sidenav-overrides((
    container-background-color: var(--mat-sys-surface-bright),
    container-text-color: var(--mat-sys-on-surface),
    content-background-color: var(--mat-sys-surface-bright),
    content-text-color: var(--mat-sys-on-surface),
    scrim-color: rgba(0, 0, 0, .32)
  ));

  @include mat.card-overrides((
    outlined-container-color: var(--mat-sys-surface-container-low),
    outlined-outline-color: var(--mat-sys-surface-container-low),
    subtitle-text-color: var(--mat-sys-on-surface),
  ));

  @include mat.dialog-overrides((
    container-color: var(--mat-sys-surface-container-highest),
  ));
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface-bright);
  color: var(--mat-sys-on-surface);
}

.full-width {
  width: 100%;
}
